#avancButton{
    background-color:#ff8c61 ;
    border: none;
    color: white;
}

.ind{
    border-top: none;
    color:#17475c ;
    font-weight: 500;
    padding: 0px !important;
    padding-left: 15px !important;
}
h3{
    color:#17475c ;
    font-weight: 600;
}
.table>:not(:last-child)>:last-child>*{
    border-bottom-color: #dee1e6;
}
.ind{
    margin-left: 100px;
}
.modal-header{
    background-color:#ff8c61 ;
    color: white;
}
#salvar{
    background-color:#ff8c61 ;
    border: none;
    color: white;
}
#voltButton{
    border-color:#17475c; 
    color: #17475c;
    text-decoration: none;
}
#voltButton:hover{
    background-color: rgb(243, 243, 243);
}