.row{
    margin-bottom: 20px;
}
span{
    background-color: white !important ;
    color: #17475c;
    border: none;
    font-weight: 500;
    font-size: 15px;
}
label{
    color: #17475c;
    font-weight: 500;
    font-size: 15px;
}
#avancButton{
    font-weight: 500;
    background-color: #ff8c61;
    color: white;
    width: 20vw;
    margin-bottom: 8vh;
}
#voltButton{
    border-color:#ff8c61; ;
    color: #ff8c61;
}
#voltButton:hover{
    background-color: rgb(243, 243, 243);
}
body{
    width: 80vw;
}